name: Node CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Check node version
        run: node -v
      - name: Install
        run: make install
      - name: Run linter
        run: make lint
      - name: Run tests
        run: make test
